[Unit]
Description=blinkyoureyes daemon service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/sifi/install/bin/blinkyoureyes
Restart=always
RestartSec=30

[Install]
WantedBy=xsession.target
